:root {
    /* Colors */
    --color-text: #fff;
    --color-primary: #21a3d6;
    --color-secondary: #00000
    --color-dark: #000;
    --color-bg: #000000;

    /* Fonts */
    --font-roboto: 'Roboto';
}